:root {
    --linkCol: white;
    --linkHoverCol: #4343c4;
    
    --mainHeadCol: darkslategray;
    --subHeadCol: slategray;
    --headContentsCol: #484b4e;
}

body {
    background-color: #000000;
    background-image: linear-gradient(to bottom right, #0a0a0a, #2e1f1f);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
    font-size: 12pt;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

/* Image icons - mainly used for hyperlink icons */
img.icon {
    margin: 3pt 7pt 3pt 7pt;
    width: 25pt;
    filter: brightness(0%) invert(100%) ;
    transition: all 0.5s ease;
}
img.icon:hover {
    filter: none;
    transition: 0.5s ease;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;

    font-size: 1.3em;
    margin-left: 2em;
    color: var(--headContentsCol);
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* LINKS */
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    color: var(--linkHoverCol);
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a {
    color: var(--linkCol);
}

ul {
    margin-top: 0.3em;
    list-style-type: square;
}

#leftHead {
    color: white;
    font-size: 2em;
    text-align: left;
    float: left;
    height: 100px;
}

#rightHead a {
    display: block;
    margin: 4px;
}

#rightHead {
    font-size: 1.2em;
    text-align: right;
    float: right;
    height: 100px;
}

.subHeader {
    font-size: 1.7em;
    margin-left: 1.5em;
    margin-bottom: 0.1em;
    color: var(--subHeadCol);
}