body {
    background-color: #151010;
    background-image: linear-gradient(to bottom right, #101010, #1b1313);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
    font-size: 12pt;
    padding: 15px;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

/* Image icons - mainly used for hyperlink icons */
img.smallIcon {
    margin: auto;
    margin-left: 0.5em;
    width: 16pt;
    filter: brightness(0%) invert(100%) ;
    transition: all 0.5s ease;
}

img.smallIcon:hover {
    filter: none;
    transition: 0.5s ease;
}

img.icon {
    margin: 3pt 7pt 3pt 7pt;
    width: 25pt;
    filter: brightness(0%) invert(100%) ;
    transition: all 0.5s ease;
}

img.icon:hover {
    filter: none;
    transition: 0.5s ease;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 25%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.3em;
    margin-top: 1.5em;
    background-color: transparent;
    border-radius: 30px;
    display: block;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: rgba(10, 10, 10, 0.21);
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;

    font-size: 1.3em;
    margin-left: 2em;
    color: slategray;
}

.collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}

ul {
    margin-top: 0.3em;
    list-style-type: square;
}

#mainHead {
    width: 100%;
    height: 100px;
}

#leftHead {
    color: white;
    font-size: 2em;
    text-align: left;
    float: left;
    height: inherit;
}

#rightHead a, #rightHead span {
    display: block;
    margin: 4px;
    color: white;
}

#rightHead a:hover {
    color: blue;
}

#rightHead {
    font-size: 1.2em;
    text-align: right;
    float: right;
    height: inherit;
}

.subHeader {
    margin-bottom: 0.1em;
    color: rgb(191, 196, 203);
    font-size: 1.4em;
    display: block;
}