:root {
    --background_color: #151010;
    --background_image: linear-gradient(to bottom right, #101010, #1b1313);

    --header_text_color: white;
    --sub_header_text_color: rgb(191, 196, 203);
    --content_text_color: slategray;

    --url_highlight_color: blue;
    
    --accent_color: darkslateblue;
    --sub_accent_color: rgb(48, 42, 87);

    --icon_color_filter: brightness(0%) invert(100%);
}

::-webkit-scrollbar {
    width: 1.2vw;
    height: 3vh;
}

::-webkit-scrollbar-track {
    background-color: var(--sub_accent_color);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--content_text_color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--sub_header_text_color);
}

body {
    background-color: var(--background_color);
    background-image: var(--background_image);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
    font-size: 12pt;

    overflow-y: scroll;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

/* Image icons - mainly used for hyperlink icons */
img.smallIcon {
    margin: auto;
    margin-left: 0.5em;
    width: 16pt;
    filter: var(--icon_color_filter);
    transition: all 0.5s ease;
}

img.smallIcon:hover {
    filter: none;
    transition: 0.5s ease;
}

img.icon {
    margin: 3pt 7pt 3pt 7pt;
    width: 25pt;
    filter: var(--icon_color_filter);
    transition: all 0.5s ease;
}

img.icon:hover {
    filter: none;
    transition: 0.5s ease;
}

#mainSection {
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.collapsible:after {
    color: var(--sub_header_text_color);
    content: '\2795\fe0e';
    font-size: 0.8em;
    float: right;
}

.active:after {
    color: var(--sub_header_text_color);
    content: '\2796\fe0e';
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    color: var(--header_text_color);
    cursor: pointer;
    padding: 18px;
    width: 15em;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.3em;
    margin-top: 1.5em;
    background-color: var(--accent_color);
    border-radius: 30px;
    display: block;
}

.content span {
    display: block;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: var(--sub_accent_color);
}

/* Style the collapsible content. Note: hidden by default */
.content {
    margin-top: 0.5em;
    padding: 0 18px;
    display: none;
    overflow: hidden;

    font-size: 1.3em;
    margin-left: 2em;
    color: var(--content_text_color);
}

ul {
    margin-top: 0.3em;
    list-style-type: square;
}

#mainHead {
    width: 100%;
    height: 110px;
    background-color: var(--accent_color);
}

#leftHead {
    color: var(--header_text_color);
    font-size: 2em;
    text-align: left;
    float: left;
    height: auto;
    margin: 10px;
}

#rightHead a, #rightHead span {
    display: block;
    margin: 4px;
    color: var(--header_text_color);
}

#rightHead a:hover {
    color: var(--url_highlight_color);
}

#rightHead {
    font-size: 1.2em;
    text-align: right;
    float: right;
    height: auto;
    margin: 10px;
}

.subHeader {
    margin-bottom: 0.1em;
    color: var(--sub_header_text_color);
    font-size: 1.4em;
    display: block;
}