/* Master Controls */
:root {
    /* Background */
    --backgroundBottomRight: #0c0612;
    --backgroundTopLeft: #0c0612;
    --backgroundColor: #0c0612;
    --backgroundImage: linear-gradient(to bottom right, var(--backgroundTopLeft), var(--backgroundBottomRight));
    
    /* Header */
    --headerFont: "Impact";
    --headerBackColor: #1f0124;
    --profPicHeight: 60px;
    --nameFontSize: 33pt;
    --nameTextColor: #ffffff;
    --headerVertPadding: 8px;
    --headerHorPadding: 12px;
    
    /* Navigation */
    --hamburgerFontSize: 30pt;
    --hamburgerTextColor: #ffffff;
    --hamburgerHoverTextColor: #708090;
    --optionFontSize: 14pt;
    --optionTextColor: #ffffff;
    --optionHoverTextColor: #ffffff;
    --optionBackColor: #483D8B;
    --optionHoverBackColor: #6a5acd;
    --optionRadius: 10px;
    
    /* Main */
    --mainFont: "Georgia";
    --mainTopGap: 20px;
    --mainSideGap: 10px;
    --mainBottomGap: 15px;
    
    /* Project Navigation */
    --projectCaretColor: #483D8B;
    --projectCaretClickColor: #41377d;
    --projectCaretHoverColor: #6a5acd;
    
    --projectSelectorColor: #483D8B;
    --projectSelectorHoverColor: #6a5acd;
    --projectSelectorClickColor: #41377d;
    --projectSelectorSelectedColor: #978cdc;
    
    /* Footer */
    --footerFont: "Courier New";
    --footerColor: #16011a;
    --footerFontSize: 12pt;
    --footerTextColor: #978cdc;
    --footerTextHoverColor: #cec9ee;
    --footerVertPadding: 45px;
    --footerHorPadding: 30px;
    --footerVertMargin: 10px;
}


/* Defaults */
p {
    text-indent: 20pt;
    margin: 15px 0px;
    text-align: left;
}
/*
p:before {
    content: "";
    width: 12em;
    display: block;
    overflow: hidden;
    border: 1px solid green;
}
*/
h1 {
    margin: 0;
    text-align: left;
    text-decoration: underline;
    display: inline-block;
}
h2 {
    margin: 30px 0px;
}


/* Page Wide */
.floatRightImage {
    float: right;
    margin: 10px;
}
.floatLeftImage {
    float: left;
    margin: 10px;
}
.resizable-image {
    width: 30%;
    min-width: 250px;
}
.github-link {
    color: inherit;
    transition: color 0.1s;
}
.github-link:hover {
    color: #9100fd;
    transition: color 0.5s;
}
.multi-flex-div { /* Adjusts self left & right, sharing space with divs of the same class. If the screen is resized and these shrink past 250 pixels, they will move to new line */
    flex: 1;
    margin: 20px;
    min-width: 250px;
}
.bold {
    font-weight: bold;
}
.flex-boi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}


/* Body / Html */
body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    background-image: var(--backgroundImage);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
body {
    display: flex;
    flex-direction: column;
}


/* Header */
#page-header {
    background-color: var(--headerBackColor);
    padding: var(--headerVertPadding) var(--headerHorPadding);
    font-family: var(--headerFont);
    margin: 10px 10px 10px -10px;
    color: var(--nameTextColor);
    font-size: var(--nameFontSize);
}
#page-header img {
    height: var(--profPicHeight);
}


/* Navigation */
input[type='checkbox'].navigation-checkbox {
    color: var(--hamburgerTextColor);
    font-size: var(--hamburgerFontSize);
}
.navigation-display, .navigation-hover {
    color: var(--hamburgerTextColor);
    font-size: var(--hamburgerFontSize);
}
input[type='checkbox'].navigation-checkbox:hover + label.navigation-display, 
input[type='checkbox'].navigation-checkbox:checked + label.navigation-display {
    color: var(--hamburgerHoverTextColor);
}
.navigation-container {
    border-radius: var(--optionRadius);
    background-color: var(--optionBackColor);
}
.navigation-content {
    color: var(--optionTextColor);
    border-radius: var(--optionRadius);
    font-size: var(--optionFontSize);
}
.navigation-content:hover {
    background-color: var(--optionHoverBackColor);
    color: var(--optionHoverTextColor);
}


/* Main Sections */
main {
    flex: 1;
    margin: var(--mainTopGap) var(--mainSideGap) var(--mainBottomGap) var(--mainSideGap);
    color: white;
    font-family: var(--mainFont);
    font-size: 14pt;
    display: flex;
}
.main-section {
    flex: 1;
    padding: 15px;
}

/* Education */
#Education {
    border: 6px solid green;
}

/* Projects */
#projectScroll {
    padding: 5px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projSelector {
    margin: 3px 10px;
    font-size: 1em;
    appearance: none;
    color: var(--projectSelectorColor);
    font-size: 0.9em;
    cursor: pointer;
}
.projSelector:hover {
    color: var(--projectSelectorHoverColor);
}
.projSelector:checked {
    color: var(--projectSelectorSelectedColor);
    font-size: 80%;
}
.projSelector:active {
    color: var(--projectSelectorClickColor);
}
.projCaret {
    margin: 0 10px;
    font-size: 2.2em;
    color: var(--projectCaretColor);
    cursor: pointer;
}
.projCaret:hover {
    color: var(--projectCaretHoverColor);
}
.projCaret:active {
    color: var(--projectCaretClickColor);
}

.project {
    text-align: center;
}


/* Custom */
#Custom {
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to bottom right, red, orange, yellow, green, blue, indigo, violet) 1;
    padding: 15px;
    text-align: center;
}
#colors {
    margin: 0px;
    list-style: none;
    padding: 0px;
    text-align: left;
    display: inline-block;
}
#colors li input {
    background: none;
    border: none;
    height: 40px;
    width: 40px;
}


/* Footer */
#page-footer {
    font-family: var(--footerFont);
    background-color: var(--footerColor);
    
}
.page-footer-content:hover {
    color: var(--footerTextHoverColor);
}
.page-footer-content i::after {
    content: "\2002";
}
.page-footer-content {
    font-size: var(--footerFontSize);
    color: var(--footerTextColor);
    margin: var(--footerVertMargin) var(--footerHorPadding);
}
